<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBiPmiD1ZaeDRu3bmO5n0pRL-5yO0WvNc</string>
	<key>GCM_SENDER_ID</key>
	<string>215253106893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saveContact.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>save-contact-1ec7e</string>
	<key>STORAGE_BUCKET</key>
	<string>save-contact-1ec7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215253106893:ios:0b4af84f03f86e09606984</string>
</dict>
</plist>